<%- include('partials/header') -%>

<header class="card text-center" >
    <div class="card mb-3">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5298bac0-b8bf-4c80-af67-725c1272dbb0/dbse65i-93e9ce8a-2c76-43f3-ad5a-dffc39877ea5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyOThiYWMwLWI4YmYtNGM4MC1hZjY3LTcyNWMxMjcyZGJiMFwvZGJzZTY1aS05M2U5Y2U4YS0yYzc2LTQzZjMtYWQ1YS1kZmZjMzk4NzdlYTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ecWdcOwuv6opCTZkZRlHfH3O3rzGCWgyDn_iU8EGjQM"  class="card-img-top" id="img-card">
        <div class="card-body">
            <h5 class="card-title"><h3>Bienvenidos a Cinefilos</h3>
                <p class="card-text"><h6 id="color-p">Un foro de discucion sobres peliculas, donde podras agregar y recomendar tus peliculas favoritas.</h6></p>
        </div> 
    </div>       
</header>
<br>
<br>
<main class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class= "btn btn-dark shadow p-3 mb-5 rounded" id="btn-new"><h5>Agregar un nuevo foro</h5></button>
    <br>
    <br>
    <div class="container text-center">

        <div class="row" id="container-row">
            <% posts.forEach(post=> { %>

                <tbody >
                              
                <article class="col-4 d-flex justify-content-center mb-3" data-id="<%= post.id %>">
                    <div class="card">
                    <td>
                        <img src="<%= post.urlLink %>" class="img-thumbnail img-fluid" width="800px" alt="Nuevo titulo">
                    </td>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= post.title %>
                            </h5>
                            <p class="card-text">
                                <%= post.content %>
                            <p class= "card-text">
                            Fecha de creacion: <%= post.createdAt.toLocaleString() %></p>
                            <p class="card-text">
                                Numero de ID: <%= post.id %>
                            </p>
                            <div>
                                <button type = "button" class = "btn btn-info" id="btn-edit">Editar</button>
                                <button type = "button" class= "btn btn-danger" id="btn-delete">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </article>

                <% }) %>
        </div>
    </div>

    
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">POST</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="formulario">
                        <div class="mb-3">
                            <label for="inputTitle" class="col-form-label">Titulo:</label>
                            <input type="text" class="form-control" id="inputTitle">
                        </div>
                        <div class="mb-3">
                            <label for="inputContent" class="col-form-label">Contenido:</label>
                            <input type="text" class="form-control" id="inputContent">
                        </div>
                        <div class="mb-3">
                            <label for="inputUrlLink" class="col-form-label">UrlLink:</label>
                            <input type="url" class="form-control" id="inputUrlLink">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" id="btn-save">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>